<h3><%= @movie.title %></h3>
<h4><em><%= @movie.genre %></em> | <%= @movie.release_year %> | Directed by: <%= @movie.director %></h4>

<p><%= @movie.description %></p><br>

<p>Movie added by: <%= @movie.user.username %></p><br>

<form action="/" method="GET">
    <input type="submit" value="All Movies">
</form>

<form action="http://www.google.com/search" method="get">
    <input type="hidden" name="q" value="<%= @movie.title %>"/>
    <input type="submit" value="More Info" />
</form>

<% if @movie.user == current_user %>
<form action="/movies/<%= @movie.id %>/edit" method="GET">
    <input type="submit" value="Edit">
</form>
<% end %>

<% if @movie.user == current_user %>
    <form action="/movies/<%= @movie.id %>/delete" method="POST">
        <input type="hidden" id="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete">
    </form>
<% end %><br><br>


<h3>Reviews</h3>

<form action="/reviews/new" method="GET">
    <input type="submit" value="Add Review">
</form><br><br>

<% if @movie.reviews.size == 0 %>
    <br><p>No reviews yet!</p>
<% else %>
    <% @movie.reviews.each do |review| %>
        <p>User: <%= review.user.username %></p>
        <p>Rating: <%= review.rating %>/5</p>
        <p>Comment: <%= review.content %></p>
        
        <% if review.user == current_user %>
        <form action="/reviews/<%= review.id %>" method="POST">
            <input type="hidden" id="hidden" name="_method" value="PATCH">
            <input type="submit" value="Edit">
        </form>

        <form action="/reviews/<%= review.id %>/delete" method="POST">
            <input type="hidden" id="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete">
        </form>
        <% end %>
        <br><br>
        <% end %>
<% end %>