<form action="/reviews/<%= @review.id %>" method="POST">
    <input type="hidden" id="hidden" name="_method" value="patch">
    <p><label for="name">Movie:</label>
    <input type="text" name="name" id="name" value="<%= @review.movie.title %>" readonly></p>
    <input type="hidden" name="date" id="text" value="<%= Time.now.strftime("%m/%d/%Y") %>">
    <p><label for="rating">Rating:</label>
    <input type="number" min="0" max="5"  name="rating" id="rating" value="<%= @review.rating %>" required>/5</p>
    <p><label for="comment">Comment:</label>
    <textarea name="comment" id="comment"><%= @review.comment %></textarea></p>
    <input type="submit" value="Save">
</form>

<form action="/reviews/<%= @review.id %>" method="GET">
    <input type="submit" value="Cancel">
</form>