<h3>Your Reviews:</h3>

<form action="/reviews/new" method="GET">
    <input type="submit" value="Add Review">
</form><br><br>

<% @reviews.each do |review| %>
    <h4><%= review.movie.title %></h4>
    <p>Date: <%= review.date %></p>
    <p>Rating: <%= review.rating %>/5</p>
    <p>Comment: <%= review.content %></p>

    <form action="/reviews/<%= review.id %>/edit" method="GET">
        <input type="submit" value="Edit">
    </form>

    <form action="/reviews/<%= review.id %>/delete" method="POST">
        <input type="hidden" id="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete">
    </form><br><br>
<% end %>

