<p>Name: <%= current_user.username %></p>
<p>Date: <%= @review.date %></p>
<p>Rating: <%= @review.rating %>/5</p>
<p><%= @review.content %></p>

<form action="/reviews/<%= @review.id %>" method="POST">
    <input type="hidden" id="hidden" name="_method" value="PATCH">
    <input type="submit" value="Edit">
</form>

<form action="/reviews/<%= @review.id %>/delete" method="POST">
    <input type="hidden" id="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete">
</form>